table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.textoFinal {
  font-size: 25px;
  margin: 10px;
  position: absolute;
  margin-top: 7px;
}

.textoPrincipal {
  padding: 10px;
  margin: 10px;
}

.tamanioIcon {
  font-size: 36px;
}

.btn-primary {
  position: absolute;
  right: 22%;
  margin-top: 1px;
}